<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <script defer src="/js/bootstrap/bootstrap.min.js"></script>
  <!-- // bootstrap -->

  <link rel="stylesheet" href="/css/pokemon/pokemon.css">

  <title>Pokemon Book</title>
</head>
<body>
  <div class="container page-container">
    <div class="row gutters">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12" th:if="${pokemonInfoList}" th:each="pokemonInfo : ${pokemonInfoList}">
        <figure class="user-card green">
          <figcaption>
            <img th:if="${pokemonInfo.imageUrl}" th:src="${pokemonInfo.imageUrl}" th:alt="${pokemonInfo.name}" class="profile">
            <h5 id="pokeName" th:text="${pokemonInfo.name}"></h5>
            <h6 class="badge text-bg-primary">@movies</h6>
            <h6 class="badge text-bg-primary">@movies</h6>
            <h6 class="badge text-bg-primary">@movies</h6>
            <ul class="contacts">
              <li>
                <p th:text="|heigth: ${pokemonInfo.height}${pokemonInfo.heightUnit}|"></p>
              </li>
              <li>
                <p th:text="|weight: ${pokemonInfo.weight}${pokemonInfo.weightUnit}|"></p>
              </li>
            </ul>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</body>
</html>
