<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pokemon Search</title>
</head>
<body>
<h1>Pokemon Search</h1>
<form action="/pokemon" method="get">
  <input type="text" name="name" placeholder="Enter Pokemon Name">
  <button>검색</button>
</form>

<!--<form action="/pokemonByIndex" method="get">-->
<!--  <button>전체 조회</button>-->
<!--</form>-->

<h1>Pokemon Info</h1>
<ul style="list-style: none;">
  <li th:if="${pokemonInfoList}" th:each="pokemonInfo : ${pokemonInfoList}" style="float: left">
    <div>
      <h2>Name: <span th:text="${pokemonInfo.name}"></span></h2>
      <h3>Types:</h3>
      <ul>
        <li th:each="type : ${pokemonInfo.types}" th:text="${type.type.name}"></li>
      </ul>
      <p>Height: <span th:text="${pokemonInfo.height}"></span> <span th:text="${pokemonInfo.heightUnit}"></span></p>
      <p>Weight: <span th:text="${pokemonInfo.weight}"></span> <span th:text="${pokemonInfo.weightUnit}"></span></p>
      <img th:if="${pokemonInfo.imageUrl}" th:src="${pokemonInfo.imageUrl}" alt="Pokemon Image">
    </div>
  </li>
</ul>

<div th:if="${error}">
  <h2><span th:text="${error}"></span></h2>
</div>
</body>
</html>
